/* src/components/Navbar.css */

.navbar {
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    padding: 10px 0px;
}

.navbar-left .navbar-brand {
    text-decoration: none;
    font-size: 1.5em;
}

.navbar-left{
    margin-left: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.username {
    margin-left: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    padding: 0 30px;
}

.dropdown-menu button {
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    text-align: left;
}

.dropdown-menu button:hover {
    background-color: #f1f1f1;
}
